.Chatmain
  .Chatmain__groupinfo
    .Chatmain__groupinfo__leftbox
      %h2.Chatmain__groupinfo__leftbox__group
        = @group.name
      %ul.Chatmain__groupinfo__leftbox__menbarlist
        %li.Chatmain__groupinfo__leftbox__member
        Member：
        %li.Chatmain__groupinfo__leftbox__name
          - @group.users.each do |user|
            = user.name
    .Chatmain__groupinfo__edit
      = link_to edit_group_path(@group) do
        Edit
  .Chatmain__messagelist
    = render @messages
  .Chatmain__messageform
    = form_for [@group,@message],html:{class:"Chatmain__messageform__new"} do |f|
      .input-box
        = f.text_field :content, class: 'inupt-box__text', placeholder: 'type a message'
        = f.label :image, class: "input-box__image" do
          =icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'